cloud_address: controller.{{ domain }}
cloud_port: 443
bootstrap_address: bootstrapper-controller.{{ domain }}
bootstrap_port: 443
fluentd_address: fluentd.{{ domain }}
fluentd_port: 24224
rootca_cert: /var/opt/magma/tmp/certs/rootCA.pem